<div class="container row">
  <div class="col">
    <h1>Ventas</h1>
  </div>
  <div class="col p-0">
    <button
      type="button"
      class="btn btn-success float-right"
      routerLink="/new-sale"
    >
      Nueva venta
    </button>
  </div>
</div>
<hr />
<div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="width: 100%"
  >
    <ng-container matColumnDef="folio_venta">
      <th mat-header-cell *matHeaderCellDef>Folio</th>
      <td mat-cell *matCellDef="let venta">00{{ venta.id }}</td>
    </ng-container>

    <ng-container matColumnDef="no_cliente">
      <th mat-header-cell *matHeaderCellDef>No. Cliente</th>
      <td mat-cell *matCellDef="let venta">00{{ venta.cliente_id }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let venta">
        {{ venta.cliente.nombre_completo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let venta">{{ venta.total }}</td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let venta">{{ venta.created_at }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
