<h1>Nueva venta</h1>

<div>
  <mat-form-field appearance="legacy" style="width: 40%; margin-right: 10px">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Cliente" />
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" data-target="#modal1">
    <mat-icon matSuffix>add</mat-icon>
  </button>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
